.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.svn
.gradle
.idea

Gency/gency/build
Gency/sub_module/cryptolib/build
Gency/sub_module/cy_cybirdid/build
Gency/sub_module/cy_gcm/build
Gency/sub_module/cy_gencydid/build
Gency/sub_module/gcm/build
Gency/sub_module/gcm_sub_toPUSH/build
POPgate/build