<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.souling.android.conanseek01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        tools:replace="android:appComponentFactory"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="jp.souling.android.conanseek01.SplashActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="conanseek01" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="app" android:host="jp.co.cybird.android.app.conanseek01" />
            </intent-filter>
        </activity>


        <!-- [START gcm_receiver] -->
        <!--<activity android:name="com.gency.gcm.GencyPrefsActivity" android:launchMode="singleTask" />-->
        <!--<activity android:name="com.gency.gcm.GencyGCMIntermediateActivity" android:launchMode="singleInstance" />-->
        <!--<activity android:name="com.gency.gcm.GencyCustomDialogActivity" android:launchMode="singleInstance" />-->
        <!--<receiver-->
            <!--android:name="com.google.android.gms.gcm.GcmReceiver"-->
            <!--android:exported="true"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!--<category android:name="jp.co.cybird.android.app.conanseek01"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_service] -->
        <!--<service-->
            <!--android:name="com.gency.gcm.GencyRegistrationIntentService"-->
            <!--android:exported="false">-->
        <!--</service>-->
        <!-- [END gcm_service] -->


        <!-- [START gcm_listener] -->
        <!--<service-->
            <!--android:name="com.gency.gcm.GencyGcmListenerService"-->
            <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <!-- [END gcm_listener] -->


        <!-- [START instanceId_listener] -->
        <!--<service-->
            <!--android:name="com.gency.gcm.GencyInstanceIDListenerService"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.gms.iid.InstanceID"/>-->
            <!--</intent-filter>-->
        <!--</service>-->
        <!-- [END instanceId_listener] -->


        <!--<service-->
            <!--android:name="com.gency.gcm.GencyRegistrationIntentService"-->
            <!--android:exported="false">-->
        <!--</service>-->


        <!-- START Tapjoy 11.2.0-->
        <!--<meta-data-->
            <!--android:name="com.google.android.gms.version"-->
            <!--android:value="@integer/google_play_services_version" />-->
        <activity
            android:name="com.tapjoy.TJAdUnitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.tapjoy.mraid.view.ActionHandler"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tapjoy.mraid.view.Browser"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tapjoy.TJContentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <receiver
            android:name="com.tapjoy.InstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <!-- END Tapjoy -->

    </application>

</manifest>
